<section class="marquee">
  <div class="marquee__viewport">
    <ul class="marquee__track">
      @for (logo of logos; track $index; let first = $first) {
        <li class="marquee__item" [attr.aria-hidden]="first ? null : 'true'">
          <img src="/home/logo.svg" [alt]="first ? 'Fardelins' : ''" width="236" height="64" />
        </li>
      }
      @for (logo of logos; track $index) {
        <li class="marquee__item" aria-hidden="true">
          <img src="/home/logo.svg" alt="" width="236" height="64" />
        </li>
      }
    </ul>
  </div>
</section>
