<section class="about">
  <app-shader-background class="about__trail" [preset]="trailPreset" />
  <app-shader-background class="about__ascii" [preset]="asciiPreset" />

  <div class="about__intro">
    <p class="about__eyebrow">ABOUT US</p>
    <p class="about__text" #textEl>
      @for (word of words; track $index) {
        <span class="about__word" [style.opacity]="wordOpacity($index)">{{ word }} </span>
      }
    </p>
  </div>

  <div class="about__images">
    <div
      class="about__image"
      role="img"
      aria-label="Fardelins packaging"
      [appTilt]="9"
      (pointerenter)="setImageHover('left', true)"
      (pointerleave)="setImageHover('left', false)"
    >
      <app-shader-background #leftShader [preset]="leftImagePreset" />
    </div>
    <div
      class="about__image"
      role="img"
      aria-label="Fardelins team collaborating"
      [appTilt]="9"
      (pointerenter)="setImageHover('right', true)"
      (pointerleave)="setImageHover('right', false)"
    >
      <app-shader-background #rightShader [preset]="rightImagePreset" />
    </div>
  </div>
</section>
