<div class="store-badges">
  <a class="store-badge" href="#" aria-label="Get it on Google Play">
    <img class="store-badge__icon" src="/home/google-play logo.svg" alt="" width="20" height="22" />
    <span class="store-badge__text">
      <span class="store-badge__eyebrow">GET IT ON</span>
      <span class="store-badge__title">Google Play</span>
    </span>
  </a>

  <a class="store-badge" href="#" aria-label="Download on the App Store">
    <img class="store-badge__icon" src="/home/apple-logo.svg" alt="" width="16" height="20" />
    <span class="store-badge__text">
      <span class="store-badge__eyebrow">Download on the</span>
      <span class="store-badge__title">App Store</span>
    </span>
  </a>
</div>
