<div class="store-badges">
  @for (store of stores; track store.platform) {
    <a
      class="store-badge"
      [href]="hrefFor(store.url)"
      [attr.target]="store.url ? '_blank' : null"
      [attr.rel]="store.url ? 'noopener noreferrer' : null"
      [attr.aria-label]="'Download Fardelins on the ' + store.name"
      (click)="storeClicked()"
    >
      <img class="store-badge__icon" [src]="store.icon" alt="" width="20" height="22" />
      <span class="store-badge__text">
        <span class="store-badge__eyebrow">{{ store.platform === 'android' ? 'GET IT ON' : 'Download on the' }}</span>
        <span class="store-badge__title">{{ store.name }}</span>
      </span>
    </a>
  }
</div>
