<a class="blog-card" [routerLink]="['/blogs', article().slug]">
  <div class="blog-card__media">
    @if (article().image) {
      <img
        class="blog-card__image"
        [src]="article().image"
        [attr.srcset]="article().imageSrcset"
        sizes="(max-width: 640px) 88vw, (max-width: 1000px) 44vw, 30vw"
        width="600"
        height="400"
        alt=""
        loading="lazy"
      />
    } @else {
      <div class="blog-card__media-fallback">
        <img src="/home/logo.svg" alt="" width="132" height="36" />
      </div>
    }
  </div>
  <div class="blog-card__body">
    <p class="blog-card__meta">{{ article().readTime }} • {{ article().category }}</p>
    <h3 class="blog-card__title">{{ article().title }}</h3>
    @if (article().excerpt) {
      <p class="blog-card__excerpt">{{ article().excerpt }}</p>
    }
  </div>
  <span class="blog-card__link">
    Read Article
    <img src="/blogs/blog-arrow.svg" alt="" width="20" height="20" />
  </span>
</a>
