<a class="blog-card" [routerLink]="['/blogs', article().slug]">
  <div class="blog-card__media">
    @if (article().image) {
      <img class="blog-card__image" [src]="article().image" alt="" loading="lazy" />
    } @else {
      <div class="blog-card__media-fallback">
        <img src="/home/default-logo.png" alt="" width="132" height="33" />
      </div>
    }
  </div>
  <div class="blog-card__body">
    <p class="blog-card__meta">{{ article().readTime }} • {{ article().category }}</p>
    <h3 class="blog-card__title">{{ article().title }}</h3>
    <p class="blog-card__excerpt">{{ article().excerpt }}</p>
  </div>
  <span class="blog-card__link">
    Read Article
    <img src="/blogs/blog-arrow.svg" alt="" width="20" height="20" />
  </span>
</a>
